.timer {
  width: 100%;
  height: 400px;
  background-image: url(./images/Seattle.jpg);
  text-align: center;
}
.allp {
  display: inline-flex;
}
.allp p {
  font-family: "Akronim", cursive;
  color: #80ff00;
  font-size: 95pt;
}

#ready {
  font-family: "Akronim", cursive;
  background-color: rgba(0, 0, 0, 0.329);
  font-size: 30pt;
  color: #80ff00;
}

#days {
  background-color: rgba(0, 0, 0, 0.329);
}
#hours {
  background-color: rgba(0, 0, 0, 0.329);
}
#mins {
  background-color: rgba(0, 0, 0, 0.329);
}
#secs {
  background-color: rgba(0, 0, 0, 0.329);
}

#padding {
  padding: 15px;
  margin: 15px;
}

.clow {
  align-content: center;
  padding: 20px;
  margin: 20px;
  width: 80%;
  height: 800px;
}


.alert{
  padding: 20px;
  margin: 20px;
}

h2 {
  text-align: center;
  font-size: 30pt;
}

h1 {
  text-align: center;
  font-size: 30pt;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
